/* Need to think about this whether to do or not.*/
/*
.root
{
	-fx-background-color: rgb(255, 255, 255);
}
*/

/*
 * Need to think about this whether to do or not. Basically Why do we need this
.border-pane
{
	-fx-background-radius: 30;
	-fx-border-radius: 20;
}
*/

@font-face
{
    src: url('/fonts/calibrib.ttf');
}

@font-face
{
    src: url('/fonts/tahomabd.ttf');
}

@font-face
{
    src: url('/fonts/segoeui.ttf');
}

@font-face
{
    src: url('/fonts/segoeuib.ttf');
}

@font-face
{
    src: url('/fonts/segoeuii.ttf');
}

@font-face
{
    src: url('/fonts/segoeuil.ttf');
}

@font-face
{
    src: url('/fonts/SEGOEUISL.TTF');
}

@font-face
{
    src: url('/fonts/segoeuiz.ttf');
}

@font-face
{
    src: url('/fonts/seguisb.ttf');
}

@font-face
{
    src: url('/fonts/Ubuntu-B.ttf');
}

@font-face
{
    src: url('/fonts/Ubuntu-BI.ttf');
}

@font-face
{
    src: url('/fonts/Ubuntu-R.ttf');
}

@font-face
{
    src: url('/fonts/Ubuntu-RI.ttf');
}

@font-face
{
    src: url('/fonts/Inconsolata-Bold.ttf');
}

@font-face
{
    src: url('/fonts/Inconsolata-Regular.ttf');
}

@font-face
{
    /*font-family: 'Coiny';*/
    src: url('/fonts/Coiny-Regular.ttf');
}

@font-face
{
     src: url('/fonts/DancingScript-Bold.ttf');
}

@font-face
{
     src: url('/fonts/DancingScript-Regular.ttf');
}

/* Need to think about this whether to do or not. Basically Why do we need this*/
.mainWindowBorderPaneDropShadowStyle
{
	 -fx-padding: 5;
	-fx-border-insets: 5;
	-fx-background-insets: 5;
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	
	/*-fx-border-color: gray;*/
	/*-fx-border-style: solid;*/
	/*-fx-border-width: 1;*/
	/*-fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);*/
	
	-fx-effect: dropshadow(three-pass-box,  gray, 10, 0,  0, 0);
}

.tooltip
{
	-fx-font-family: "Calibri";
	-fx-font-weight: bold;
	-fx-background-radius: 15 15 15 15;
	-fx-font-size: 11px;
	/*-fx-background-color: #983737;*/
}

.mainWindowMenuBarHBoxStyle
{
	-fx-background-color: rgb(255, 255, 255);
}

.menu-bar
{
	-fx-background-color: rgb(255, 255, 255);
	-fx-font-family: "Segoe UI";
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

.mainWindowTitleLabelStyle
{
	-fx-font-family: "Tahoma";
	-fx-font-weight: bold;
	-fx-font-size: 13;
	-fx-text-fill: rgb(0,104,139);
}

.mainWindowTitleBarHBoxStyle
{
    TOP-COLOR: ladder(-fx-base, derive(-fx-base,0%) 0%, derive(-fx-base,46%) 100%);
    -fx-background-color: linear-gradient(to bottom, derive(TOP-COLOR,25%) 0%, -fx-outer-border 90%), linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%); 
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
    /*
    -fx-padding: 0.416667em 0.5em 0.416667em 0.5em;
    -fx-spacing: 0.333em;
    -fx-alignment: CENTER_LEFT;*/
    }
 
.mainWindowViewHomeImageViewStyle
{
	-fx-image:url("/icons/home-20.png");
}

.mainWindowViewHomeImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewMinimizeImageViewStyle
{
	-fx-image:url("/icons/minimize-20.png");
}

.mainWindowViewMinimizeImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewMaximizeImageViewStyle
{
	-fx-image:url("/icons/maximize-20.png");
}

.mainWindowViewMaximizeImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewRestoreImageViewStyle
{
	-fx-image:url("/icons/restore-20.png");
}

.mainWindowViewRestoreImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewCloseImageViewStyle
{
	-fx-image:url("/icons/close-20.png");
}

.mainWindowViewCloseImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

/* change background color behind tabs to have a nice gradient fill*/
.tab-pane *.tab-header-background
{
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

/*
 * do we need this?
.tab-pane .tab .tab-label
{
	-fx-font-family: "Ubuntu";
	-fx-font-size: 12;
}
*/

.filterKeyTextStyle
{
	-fx-font-family: "Segoe UI semibold";
	-fx-font-size: 13;
}

.filterValueTextStyle
{
	-fx-font-family: "Segoe UI semibold";
	-fx-font-size: 13;
	-fx-fill: rgb(0, 0, 255);
}

.tool-bar
{
	-fx-background-color: TRANSPARENT;
}

.externalTradeTableViewDataFilterTextFieldStyle
{
	-fx-background-color: palegreen;
	-fx-font-family: "Inconsolata";
	-fx-font-weight: bold;
	-fx-font-size: 13;
}

.settlePricesTableViewDataFilterTextFieldStyle
{
	-fx-background-color: palegreen;
	-fx-font-family: "Inconsolata";
	-fx-font-weight: bold;
	-fx-font-size: 13;
}

/* ============================================================================================================================================================== */
/* ================================================================ ALL TableView RELATED CSS GOES HERE ==================================================++++++++======== */
/* ============================================================================================================================================================== */

/*
 lightcoral
 lightgreen
 palegreen
 paleviolet 
*/

/*
.table-row-cell:odd
{
	-fx-background-color: lightblue;
}

.table-row-cell:odd > .table-cell
{
    -fx-text-fill: blue;
}

.table-row-cell:even
{
    -fx-background-color: lightpink;

}

.table-row-cell:even > .table-cell
{
    -fx-text-fill: red;
}

.table-row-cell:empty
{
    -fx-background-color: khaki;
    -fx-border-color: grey
}
 
.table-row-cell:hover
{
    -fx-background-color: blanchedalmond;
}
*/

/* To center the table column text. */
.table-column
{
	-fx-alignment: BASELINE_CENTER;
}

.table-row-cell:selected
{
	-fx-background-color: chocolate;
    /*-fx-background-color: GREEN;*/
    /* the below style will remove the border lines of the selected row */
    -fx-table-cell-border-color: TRANSPARENT;
}

.table-row-cell:pending 
{
	-fx-control-inner-background: lightblue;
}

.table-row-cell:completed
{
	-fx-control-inner-background: lightgreen;
}

.table-row-cell:failed
{
    -fx-control-inner-background: lightcoral;
}

.table-row-cell:skipped
{
    -fx-control-inner-background: lightpink;
}

.table-row-cell:empty
{
    -fx-background-color: TRANSPARENT;
    -fx-table-cell-border-color: TRANSPARENT;
}

/*
.table-row-cell:empty .table-cell
{
    -fx-border-width: 0px;
}
*/

.popover
{       
    -fx-background-color: rgba(255,0,0, 0.1);  /* semi-transparent red */                                     
}

.popover > .content
{
        -fx-padding: 10;                        
        -fx-background-color: TRANSPARENT;                        
}

.popover > .border
{
	-fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7));
	-fx-background-color: TRANSPARENT;
	-fx-stroke-width: 0.5;
	-fx-fill: rgba(255,0,0, 0.5); /* instead -fx-background-color */
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

/*
.separator
{
    -fx-background-color: #e79423;
    -fx-background-radius: 2;
}
*/

/*
.separator .line
{
	-fx-background-color: RED;
}*/

/* ============================================================================================================================================================== */
/* ================================================================ ALL StatusBar RELATED CSS GOES HERE ==================================================++++++++======== */
/* ============================================================================================================================================================== */

/* styles common to all nodes in the status bar */
.statusbarButtonStyle
{
	-fx-background-insets: 2;
	-fx-background-radius: 2;
}

.statusbarFontStyle
{
	-fx-font-family: "Segoe UI";
	-fx-font-weight: bold;
}

.statusbarMonitorStatusButtonStyle
{
	-fx-background-color: ORANGE;
}

.statusbarAllTradesCountButtonStyle
{
	-fx-background-color: CADETBLUE;
}

.statusbarPendingTradesCountButtonStyle
{
	-fx-background-color: LIGHTBLUE;
}

.statusbarCompletedTradesCountButtonStyle
{
	-fx-background-color: LIGHTGREEN;
}

.statusbarFailedTradesCountButtonStyle
{
	-fx-background-color: LIGHTCORAL;
}

.statusbarSkippedTradesCountButtonStyle
{
	-fx-background-color: LIGHTPINK;
}

.titledPaneStyle
{
	/*-fx-font-family: "Coiny";*/
	-fx-font-family: "Segoe UI";
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

.accordionHeaderStyle
{
	-fx-font-family: "Tahoma";
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

/*.menu .label{     -fx-text-fill: red;}*/

/*
.menu-item .label
{
    -fx-text-fill: white;
}

.menu-item:focused
{
     -fx-background-color: darkgray;
}

.menu-item:focused .label
{
    -fx-text-fill: blue;
}

.context-menu
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}
*/

.applicationMainWindowCurrentDateTimeLabelStyle
{
	-fx-font-family: "Calibri";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-text-fill: blue;
}

.tab .tab-label
{
	-fx-font-family: "Segoe UI";
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

.table-view .column-header .label
{
	-fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

/*.table-view
{
	-fx-font-family: "Segoe UI semibold";
	-fx-font-size: 12px;
}*/

/* Text in the rows will be white */
.table-row-cell .text
{
	-fx-font-family: "Segoe UI semibold";
	-fx-font-size: 12px;
}

.normalButtonStyle
{
	-fx-font-family: "Segoe UI semibold";
	-fx-font-size: 12px;
}

.dialog-pane
{
	-fx-background-color: green;
}

.myDialog{
    -fx-background-color: #f9d900;
}

.myDialog > *.button-bar > *.container{
    -fx-background-color: #a9e200;
}

.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.myDialog:header *.header-panel{
    -fx-background-color: #a59c31;
}

.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}

/*
.accordion> *.titled-pane> *.title
{
	-fx-color: LIGHTBLUE;
}

.accordion *.title
{
	-fx-color: LIGHTBLUE;
}
*/