.tableTitle
{
	-fx-font-family: "Calibri";
	-fx-font-weight: BOLD;
	-fx-font-size: 14;
}

.table-column
{
	-fx-alignment: BASELINE_CENTER;
}

.buttonStyle
{
	-fx-font-family: "Segoe UI semibold";
	-fx-font-size: 13;
}