.tableTitle
{
	/*-fx-font-family: "Ubuntu";*/
	/*-fx-font-weight: bold;*/
	/*-fx-font-family: "Segoe UI Bold";*/
	/*-fx-font-weight: bold;*/
	/*-fx-font-family: "Segoe UI";*/
	/*-fx-font-weight: BOLD;*/
	/*-fx-font-size: 13;*/
	/*-fx-text-fill: rgb(0,104,139);*/
	
	-fx-font-family: "Calibri";
	-fx-font-weight: BOLD;
	-fx-font-size: 14;
}

.table-column
{
	-fx-alignment: BASELINE_CENTER;
}