VBox
{
	/*-fx-background-color: lightgreen;*/
	/*-fx-border-style: dotted;*/
	/*-fx-border-style: dashed;*/
	-fx-border-radius: 1;
	-fx-border-color: lightblue;
	-fx-border-width: 2;
}

.label
{
	-fx-font-family: "Calibri";
	-fx-font-weight: BOLD;
	-fx-font-size: 15.0;
}

.text-field
{
	-fx-font-family: "Calibri";
	-fx-font-weight: BOLD;
	-fx-font-size: 14.0;
}

.combo-box .cell
{
	/*-fx-text-fill: blue;*/
    /*-fx-font: 15 "Arial";*/
	-fx-font-family: "Calibri";
	-fx-font-weight: BOLD;
	-fx-font-size: 14.0;
}