<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<!-- <Property name="log-path">C:\Users\smurugabushanam\Desktop\logs</Property> -->
		<Property name="logDirectory">${env:USERPROFILE}\ExchangeMonitorLogs</Property>
	</Properties>

	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{dd-MMM-yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>

		<!--  <RollingFile name="trace-log" fileName="${sys:logDirectory:-somedefaultlocation}/EM-trace.log" filePattern="${sys:logDirectory}/EM-trace-%d{yyyy-MM-dd}.log"> -->
		<!--
		The below setting (sys:logDirectory) will look for the value comming from the system property which we can pass using -DlogDirectory="". if it is not available then if will fall back to the 
		properties defined in the Properties section above.
		-->
		<RollingFile name="trace-log" fileName="${sys:logDirectory}/EM-trace.log" filePattern="${sys:logDirectory}/EM-trace-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{dd-MMM-yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<RollingFile name="error-log" fileName="${sys:logDirectory}/EM-error.log" filePattern="${sys:logDirectory}/EM-error-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{dd-MMM-yyyy HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="com.tc.app.exchangemonitor" level="info" additivity="false">
			<appender-ref ref="trace-log" level="debug" />
			<appender-ref ref="error-log" level="error" />
			<appender-ref ref="console-log" level="debug" />
		</Logger>
		<Root level="info" additivity="false">
			<AppenderRef ref="console-log" />
		</Root>
	</Loggers>
</Configuration>